code/nodered/pilo_flow
[{"id":"7957309b.e2f63","type":"mqtt in","z":"a4f7d70e.868cb8","name":"","topic":"/teddybear","qos":"2","broker":"5c498701.a2a238","x":160,"y":146,"wires":[["6ad8e6bb.3d48c8"]]},{"id":"6ad8e6bb.3d48c8","type":"switch","z":"a4f7d70e.868cb8","name":"Pulsante / Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":186,"wires":[["cf680cac.fccea"],["fc7417d7.8d9bd8"],["241685e.e50c17a"],[]]},{"id":"3b43c8c.dae9838","type":"comment","z":"a4f7d70e.868cb8","name":"Desc","info":"Il messaggio che arriva da \"teddybear\" è un numero, \nche corrisponde al pulsante soft premuto.\nSe guardiamo al codice del teddyBear, vedremo un array \nconst int pins[] = { D2, D3, D4 };\nche indica i pin monitorati.\nquindi se arriverà un messaggio \"0\" indicherà che\nè stato premuto il pulsante collegato al pin D2, etc\n\nThe message from \"teddybear\" is a number, that \nrepresents the soft button pressed,\nLooking at the code of the teddybear, we can see an array:\nconst int pins[] = { D2, D3, D4 };\nthat represents the pin used.\nSo if the msg will be \"0\", that will mean than the button\npressed is the one connected to pin D2, and so on.","x":150,"y":105,"wires":[]},{"id":"cf680cac.fccea","type":"function","z":"a4f7d70e.868cb8","name":"Toggle 00","func":"var toggle00 = flow.get(\"toggle00\") || false;\nif (toggle00 === false) {\n    toggle00 = true;\n} else {\n    toggle00 = false;\n}\nflow.set(\"toggle00\", toggle00);\nmsg.payload = toggle00;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":146,"wires":[["f83e7d72.3073b","85438745.582168"]]},{"id":"fc7417d7.8d9bd8","type":"function","z":"a4f7d70e.868cb8","name":"Toggle 01","func":"var toggle01 = flow.get(\"toggle01\") || false;\ntoggle01 = toggle01 === false ? true : false;\nflow.set(\"toggle01\", toggle01);\nmsg.payload = toggle01;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":186,"wires":[["f83e7d72.3073b","6b50797c.5d8098"]]},{"id":"1fd6859.7ad517a","type":"function","z":"a4f7d70e.868cb8","name":"Pulse","func":"var toggle02 = flow.get(\"toggle02\") || false;\ntoggle02 = toggle02 === false ? true : false;\nflow.set(\"toggle02\", toggle02);\nmsg.payload = toggle02;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":326,"wires":[["f83e7d72.3073b","bd033601.0705c8"]]},{"id":"8ca5fd98.71f9a","type":"comment","z":"a4f7d70e.868cb8","name":"Toggle","info":"Poichè il pulsante non ha 2 posizioni, ma è un temporary button, \ndobbiamo gestire noi un toggle.\nQuindi alla prima pressione attiveremo un nodo output,\nalla seconda pressione lo disattiveremo.\n\nbecause of the button is a temporary one, we need to \nhandle a toggle.\nSo, at the first pression, we'll activate an outpu node,\nat the second one we'll deactivate it.","x":590,"y":105,"wires":[]},{"id":"241685e.e50c17a","type":"trigger","z":"a4f7d70e.868cb8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":600,"y":286,"wires":[["1fd6859.7ad517a"]]},{"id":"f83e7d72.3073b","type":"debug","z":"a4f7d70e.868cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":246,"wires":[]},{"id":"ce101f9.fa45ae","type":"comment","z":"a4f7d70e.868cb8","name":"Pulse","info":"Se invece si ha da controllare un dispositivo con un impulso,\nper esempio il pulsante di un citofono o di un teleocmando,\nallora useremo un trigger: appena arriva il segnale dal \nteddybear, attiviamo un output ma dopo 1 secondo lo disattiviamo!\n\nIf we need to control a device that needs a single pulse\nto work (ie. a remote), so using a trigger node we\ncan activate the output and after 1 second, we de-activate it","x":590,"y":245,"wires":[]},{"id":"87e867da.feafd8","type":"comment","z":"a4f7d70e.868cb8","name":"RGB SPOT","info":"rgbSpot accetta messaggi sul topic \"/rgbwspot/01\"; il messaggio\npuò essere \"spenta\" per spegnerlo, \"rosso\" per fare luce rossa,\netc (guardare sketch arduino caricato)\n\nrgbSpot accepts messages on the topic \"/rgbwspot/01\";\nthe message can be = \"spenta\" - that means: turn off the light\nor \"rosso\" to turn on the light with red color, etc.","x":1030,"y":105,"wires":[]},{"id":"85438745.582168","type":"function","z":"a4f7d70e.868cb8","name":"rgbSpot","func":"var color = \"spenta\";\nif (msg.payload === true) {\n    color = \"rosso\";\n} \nmsg.payload = color; \nreturn msg;","outputs":1,"noerr":0,"x":1021,"y":146,"wires":[["58ad2dab.552e94"]]},{"id":"58ad2dab.552e94","type":"mqtt out","z":"a4f7d70e.868cb8","name":"","topic":"/rgbwspot/01","qos":"","retain":"","broker":"5c498701.a2a238","x":1180,"y":146,"wires":[]},{"id":"c8952bac.721308","type":"mqtt out","z":"a4f7d70e.868cb8","name":"","topic":"PILOlamp","qos":"","retain":"","broker":"5c498701.a2a238","x":1180,"y":247,"wires":[]},{"id":"6b50797c.5d8098","type":"function","z":"a4f7d70e.868cb8","name":"P2D","func":"var status = \"Turn_off\";\nif (msg.payload === true) {\n    status = \"Turn_on\";\n} \nmsg.payload = status; \nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":247,"wires":[["c8952bac.721308"]]},{"id":"1745c7a6.3f2278","type":"comment","z":"a4f7d70e.868cb8","name":"P2D node: ikea lamp","info":"https://github.com/FabLabCastelfrancoVeneto/PILO","x":1060,"y":210,"wires":[]},{"id":"4af017dd.67eca8","type":"comment","z":"a4f7d70e.868cb8","name":"INPUT","info":"","x":150,"y":40,"wires":[]},{"id":"3644e006.4c1b1","type":"comment","z":"a4f7d70e.868cb8","name":"PROCESS","info":"","x":600,"y":40,"wires":[]},{"id":"d55d0239.7f967","type":"comment","z":"a4f7d70e.868cb8","name":"OUTPUT                                     ","info":"","x":1020,"y":40,"wires":[]},{"id":"bd033601.0705c8","type":"mqtt out","z":"a4f7d70e.868cb8","name":"","topic":"/relayBoard","qos":"","retain":"","broker":"5c498701.a2a238","x":1030,"y":360,"wires":[]},{"id":"c4f6bddd.38084","type":"comment","z":"a4f7d70e.868cb8","name":"Relay Board - Pulse","info":"","x":1050,"y":323,"wires":[]},{"id":"5c498701.a2a238","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
